<h1 mat-dialog-title>Add Goal</h1>
<div class="dialog-form" mat-dialog-content>
    <mat-form-field>
        <mat-label>Goal Name</mat-label>
        <input matInput />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Current Progress</mat-label>
        <input type="number" matInput />
    </mat-form-field>
    <mat-form-field>
        <mat-label>End Goal</mat-label>
        <input type="number" matInput />
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <div class="flex"></div>
    <button mat-button [mat-dialog-close]="">Cancel</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="" cdkFocusInitial>Add Goal</button>
</div>
