<header>
    <!-- <h2>GemstoneIQ</h2> -->
    <div class="flex"></div>
    <div class="searchbar">
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="Search" [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete">
            <mat-optgroup class="header-search-group" *ngFor="let group of searchResults">
                <div class="mat-optgroup-header">
                    <span class="mat-body-2">{{ group.category }}</span>
                    <button mat-button color="primary">See More</button>
                </div>
                @for (result of group.results; track result.id) { @switch (group.category) { @case ('Inventory') {
                <mat-option [value]="result.productName">
                    <mat-icon>diamond</mat-icon>
                    {{ result.productName }}
                </mat-option>
                } @case ('Sales') {
                <mat-option [value]="result.productName">
                    <mat-icon>point_of_sale</mat-icon>
                    {{ result.productName }}
                </mat-option>
                } @case ('Purchasing') {
                <mat-option [value]="result.productName">
                    <mat-icon>shopping_bag</mat-icon>
                    {{ result.productName }}
                </mat-option>
                } @case ('Invoices') {
                <mat-option [value]="result.productName">
                    <mat-icon>receipt_long</mat-icon>
                    {{ result.productName }}
                </mat-option>
                } @default { No } } } @empty { Empty list of users }
            </mat-optgroup>
        </mat-autocomplete>
    </div>
    <div class="flex"></div>
    <button class="profile-button" [matMenuTriggerFor]="profileMenu">
        <img src="../assets/images/headshot.jpeg" alt="Profile Picture" />
    </button>
    <mat-menu #profileMenu="matMenu">
        <button class="dark-mode-toggle" mat-menu-item (click)="theming.toggleDarkMode()">
            <mat-icon>{{ theming.getDarkModeIcon() }}</mat-icon>
            <span>{{ theming.getDarkModeButtonTooltip() }}</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="densityMenu">
            <mat-icon *ngIf="theming.density === 'comfortable'">density_large</mat-icon>
            <mat-icon *ngIf="theming.density === 'cozy'">density_medium</mat-icon>
            <mat-icon *ngIf="theming.density === 'compact'">density_small</mat-icon>
            <span>Density</span>
        </button>
        <!-- <button mat-menu-item [matMenuTriggerFor]="theming">Theme</button> -->
    </mat-menu>
    <mat-menu #densityMenu="matMenu">
        <button
            *ngFor="let densityOpt of theming.densityOptions"
            [class.active]="theming.density === densityOpt.value"
            mat-menu-item
            (click)="theming.changeDensity(densityOpt.value)"
        >
            <mat-icon>{{ densityOpt.icon }}</mat-icon>
            <span>{{ densityOpt.name }}</span>
        </button>
    </mat-menu>
</header>
