mat-optgroup.header-search-group {
    .mat-mdc-optgroup-label {
        padding: 0px;
    }
    .mdc-list-item__primary-text {
        flex: 1 1 100%;
        .mat-optgroup-header {
            padding: 0px 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex: 1 1 auto;

            button {
                text-transform: uppercase;
            }
        }
        & .mat-mdc-option:not(.mat-mdc-option-multiple) {
            padding-left: 0px;
            padding: 0px 16px;
        }
    }
}
