@use "@angular/material" as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$blue-palette, 500);
$my-accent: mat.define-palette(mat.$purple-palette, 500);
$my-warn: mat.define-palette(mat.$red-palette, 500);

$my-primary-dark: mat.define-palette(mat.$blue-palette, 400);
$my-accent-dark: mat.define-palette(mat.$purple-palette, 400);
$my-warn-dark: mat.define-palette(mat.$red-palette, 400);

$gemstone-typography: mat.define-typography-config(
    $font-family: 'Roboto, sans-serif',
    $button: mat.define-typography-level(14px, 1.33, 500, $letter-spacing: 0px),
  );

$my-theme: mat.define-light-theme(
    (
        color: (
            primary: $my-primary,
            accent: $my-accent,
            warn: $my-warn,
        ),
        typography: $gemstone-typography,
    )
);

$my-theme-dark: mat.define-dark-theme(
    (
        color: (
            primary: $my-primary-dark,
            accent: $my-accent-dark,
            warn: $my-warn-dark,
        ),
        typography: $gemstone-typography,
    )
);

@include mat.all-component-themes($my-theme);