.category {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    gap: 16px;
    padding: 16px;
    background-color: var(--elevated-bg-color);
    align-items: start;
    justify-content: center;
    .category-details {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        gap: 8px;
    }
    p {
        margin: 0px;
    }
    .category-name {
        font-size: 16px;
        font-weight: bold;
    }
    progress {
        width: 100%;
        &[value] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            &::-webkit-progress-bar {
                border-radius: 8px;
            }
            &::-webkit-progress-value {
                border-radius: 8px;
                background: var(--colors-greenprimary);
            }
            &.warn {
                &::-webkit-progress-value {
                    background: var(--colors-orangeprimary);
                }
            }
            &.over {
                &::-webkit-progress-value {
                    background: var(--colors-redprimary);
                }
            }
        }
        &::-webkit-progress-bar {
            background: var(--background-color);
        }
    }
    .category-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .category-progress {
        display: flex;
        flex-direction: row;
        gap: 4px;

        & .budget-total {
            font-weight: bold;
        }
    }
}
