.guideline-text {
    position: absolute;
    top: 0px;
    left: 70px;
    height: 100vh;
    width: 1px;
    background: red;
}

.guideline-icons {
    position: absolute;
    top: 0px;
    left: 40.5px;
    height: 100vh;
    width: 1px;
    background: red;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;

    > section {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow: auto;
        height: 100%;
        .content-container {
            flex: 1 1 auto;
            padding: 16px;
        }
    }
}

.dashboard {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    gap: 8px;
    .column-30 {
        flex: 1 1 30%;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .column-20 {
        flex: 1 1 20%;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .column-50 {
        flex: 1 1 50%;
    }

    .card {
        padding: 16px;
        border-radius: 4px;
        background: var(--elevated-bg-color);
        display: flex;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
}
