.guideline-text {
    position: absolute;
    top: 0px;
    left: 70px;
    height: 100vh;
    width: 1px;
    background: red;
}

.guideline-icons {
    position: absolute;
    top: 0px;
    left: 40.5px;
    height: 100vh;
    width: 1px;
    background: red;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;

    > section {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow: auto;
        height: 100%;
        .content-container {
            flex: 1 1 auto;
            padding: 16px;
        }
    }
}
