.guideline-text {
  position: absolute;
  top: 0px;
  left: 70px;
  height: 100vh;
  width: 1px;
  background: red;
}

.guideline-icons {
  position: absolute;
  top: 0px;
  left: 40.5px;
  height: 100vh;
  width: 1px;
  background: red;
}

main {
  display: flex;
  flex-direction: row;
  height: 100%;

  header {
    display: flex;
    height: 64px;
    background: var(--elevated-bg-color);
    padding: 16px;
    border-bottom: 1px solid var(--border-color);

    h2 {
      margin: 0px;
      font-weight: 500;
    }
  }

  >section {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    .content-container {
      flex: 1 1 auto;
    }
  }
}