<main>
    <app-sidenav-drawer color="warn"></app-sidenav-drawer>
    <section>
        <app-header></app-header>
        <div class="content-container">
            <h2>Welcome, Joshua</h2>
            <div class="dashboard">
                <div class="column-20">
                    <div class="card">
                        <h2>Title Card</h2>
                    </div>
                </div>
                <div class="column-30">
                    <div class="card">
                        <h2>Title Card</h2>
                    </div>
                    <div class="card">
                        <h2>Title Card</h2>
                    </div>
                    <div class="card">
                        <h2>Title Card</h2>
                    </div>
                </div>
                <div class="column-50">
                    <div class="card">
                        <h2>Title Card</h2>
                    </div>
                </div>
            </div>
            <!-- <router-outlet></router-outlet> -->
        </div>
    </section>
</main>
<!-- <div class="guideline-text"></div>
<div class="guideline-icons"></div> -->
